# Create a copy of this file named .env and fill in the fields with your own values

# Create an app password at https://bsky.social/settings/security
# DO NOT SHARE WITH ANYONE
BSKY_TOKEN=

# Kindroid API key from Kindroid app > Settings > General > API & Advanced integrations
# DO NOT SHARE WITH ANYONE
KIN_KEY=
